
<h2>Profiles Management</h2>
<hr/>
<%= link_to "New Profile", action: 'new' %>
<hr/>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">detail</th>
      <th scope="col">edit</th>
      <th scope="col">destroy</th>
    </tr>
  </thead>
  <tbody>
    <% @profiles.each do |profile| %>
    <tr>
      <th scope="row"> <%= profile.id %> </th>
      <td> <%= profile.name %> </td>
      <td> <%= link_to "Detail", action: 'show', id: profile.id %> </td>
      <td> <%= link_to "Edit", action: 'edit', id: profile.id %> </td>
      <td> <%= link_to "Destroy", {action: 'destroy', id: profile.id}, data:{turbo_method: :delete, turbo_confirm: 'are you sure?'} %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
<hr/>
<p>copyrigth - fecha - usuario - perfil</p>
